<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>งานเผา</title>
    <link rel="stylesheet" href="../scss/mystyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <div class="hero-image">
        <div class="hero-text">
          <table id="myTable" class="justify-content-md-center" style="background-color:white">
                <tr>
                  <div class="d-flex justify-content-around">
                    <td id="t1" class="p-2" style="font-size: 500%;color: black">1</td>
                    <td id="t2" class="p-2" style="font-size: 500%;color: black">2</td>
                    <td id="t3" class="p-2" style="font-size: 500%;color: black">3</td>
                </div>
                </tr>
                <tr>
                  <div class="d-flex justify-content-around">
                    <td id="t4" class="p-2" style="font-size: 500%;color: black">4</td>
                    <td id="t5" class="p-2" style="font-size: 500%;color: black">5</td>
                    <td id="t6" class="p-2" style="font-size: 500%;color: black">6</td>
                  </div>
                </tr>
                <tr>
                  <div class="d-flex justify-content-around">
                    <td id="t7" class="p-2" style="font-size: 500%;color: black">7</td>
                    <td id="t8" class="p-2" style="font-size: 500%;color: black">8</td>
                    <td id="t9" class="p-2" style="font-size: 500%;color: black">9</td>
                  </div>
                </tr>
              </table>

        </div>
      </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
    <script type="text/javascript" src="../tables.json"></script>
    <script>
        $.getJSON( "../tables.json", function( json ) {
            console.log( "JSON Data received, name is " + json[0].val);

            document.getElementById("t1").innerHTML = json[0].val;
            document.getElementById("t2").innerHTML = json[1].val;
            document.getElementById("t3").innerHTML = json[2].val;
            document.getElementById("t4").innerHTML = json[3].val;
            document.getElementById("t5").innerHTML = json[4].val;
            document.getElementById("t6").innerHTML = json[5].val;
            document.getElementById("t7").innerHTML = json[6].val;
            document.getElementById("t8").innerHTML = json[7].val;
            document.getElementById("t9").innerHTML = json[8].val;
        });
    </script>
</body>
</html>